# use basic template to generate index page
/index.html

# instance-config
/inc/instance-config.php

# .installed
/.installed

# script file
/main.js

# /b/ and /cdn - why they are showing up again?
/b
/cdn

# templates cache
/templates/cache

# Vagrant
.vagrant
Vagrantfile

# other stuff
.DS_Store
.idea
thumbs.db
Icon?
Thumbs.db
