{% filter remove_whitespace %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="favicon.ico">

    <title>Синч - анонимный имиджборд</title>

    <!– Bootstrap core CSS –>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!– Custom styles for this template –>
    <link href="stylesheets/index-page.css" rel="stylesheet">
	
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
   
    <!– HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries –>
    <!–[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]–>
	
  </head>

  <body>
    <!– Fixed navbar –>
    <div class="navbar navbar-default navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Син.ч</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Главная</a>
            <li><a href="/rules.html">Правила</a>
            <li><a href="/help.html">Помощь</a>
            <li><a href="/donate.html">Поддержка</a>
          </ul>
        </div><!–/.nav-collapse –>
      </div>
    </div>
	<div class="container" id="main" style="z-index: 10;">
		<div class="col-md-3" id="boardlinks">
            <div class="list-group">
                <a href="/0/" class="list-group-item">/0/ — универсальная нулевая<span id="0" class="badge posts pull-right">0</span></a>
                <a href="/b/" class="list-group-item">/b/ — Бардак<span id="b" class="badge posts pull-right">0</span></a>
                <a href="/d/" class="list-group-item">/d/ — Майдан<span id="d" class="badge posts pull-right">0</span></a>
            </div>
            <div class="list-group" class="list-group-item">
                <a href="/a/" class="list-group-item">/a/ — Аниме<span id="a" class="badge posts pull-right">0</span></a>
                <a href="/g/" class="list-group-item">/g/ — Девушки (18+)<span id="g" class="badge posts pull-right">0</span></a>
                <a href="/mlp/" class="list-group-item">/mlp/ — My Little Pony<span id="mlp" class="badge posts pull-right">0</span></a>
                <a href="/mu/" class="list-group-item">/mu/ — Музыка<span id="mu" class="badge posts pull-right">0</span></a>
                <a href="/tv/" class="list-group-item">/tv/ — Зомбоящик<span id="tv" class="badge posts pull-right">0</span></a>
                <a href="/vg/" class="list-group-item">/vg/ — Видеоигры<span id="vg" class="badge posts pull-right">0</span></a>
                <a href="/wh/" class="list-group-item">/wh/ — Warhammer<span id="wh" class="badge posts pull-right">0</span></a>
            </div>
            <div class="list-group" class="list-group-item">
                <a href="/old/" class="list-group-item">/old/ — Чулан<span id="old" class="badge posts pull-right">0</span></a>
                <a href="/test/" class="list-group-item">/test/ — Старая школа<span id="test" class="badge posts pull-right">0</span></a>
            </div>
            <div class="list-group" class="list-group-item">
                <a href="http://synchtube.ru/" class="list-group-item">Synchtube</a>
                <a href="http://synchtube.ru/r/synch" class="list-group-item">/r/synch — Убежище</a>
                <a href="http://bugtracker.syn-ch.com" class="list-group-item">Багтрекер</a>
                <a href="http://syn-ch.ru/mail" class="list-group-item">Почта @syn-ch.ru</a>
                <a href="http://overchan.ru/" class="list-group-item">Русский Оверчан</a>
                <a href="http://9ch.ru" class="list-group-item">9ch.ru — Оверчан</a>
            </div>
            <div class="list-group">
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">Контакты:</h4>
                    <p class="list-group-item-text">email: <a href="mailto:admin@syn-ch.ru">admin@syn-ch.ru</a></p>
                    <p class="list-group-item-text">skype: <a href="skype:twi4ce?chat">twi4ce</a></p>
                </li>
            </div>
		</div>
		
		<div class="col-md-9">
			<div id="intro"><h1>Добро пожаловать. Снова.</h1>
			<p>Синч - это анонимный имиджборд, место для свободного общения на <a href="rules.html">почти</a> любые темы без регистрации и других надоедливых вещей.</p></div>
			<h2>Новости</h2>
			<div class="ban">
				{% if news|count == 0 %}
					<p style="text-align:center" class="unimportant">(No news to show.)</p>
				{% else %}
					{% for entry in news %}
						<div class="panel panel-default" id="{{ entry.id }}">
							<div class="panel-body">
								{{ entry.body }}
							</div>
							<div class="panel-footer">
								{% if entry.subject %}
									{{ entry.subject }}
								{% else %}
									<em>Без темы</em>
								{% endif %}
								 &mdash; {{ entry.time|date(config.post_date) }}
							</div>
						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
		
	</div>
	<br/>
  </body>
</html>
{% endfilter %}