@font-face {
    font-family: 'Roboto';
    src: url('webfonts/roboto_regular_cyrillic/Roboto-Regular-webfont.eot');
    src: url('webfonts/roboto_regular_cyrillic/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/roboto_regular_cyrillic/Roboto-Regular-webfont.woff') format('woff'),
         url('webfonts/roboto_regular_cyrillic/Roboto-Regular-webfont.ttf') format('truetype'),
         url('webfonts/roboto_regular_cyrillic/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('webfonts/roboto_italic_cyrillic/Roboto-Italic-webfont.eot');
    src: url('webfonts/roboto_italic_cyrillic/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/roboto_italic_cyrillic/Roboto-Italic-webfont.woff') format('woff'),
         url('webfonts/roboto_italic_cyrillic/Roboto-Italic-webfont.ttf') format('truetype'),
         url('webfonts/roboto_italic_cyrillic/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('webfonts/roboto_bold_cyrillic/Roboto-Bold-webfont.eot');
    src: url('webfonts/roboto_bold_cyrillic/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/roboto_bold_cyrillic/Roboto-Bold-webfont.woff') format('woff'),
         url('webfonts/roboto_bold_cyrillic/Roboto-Bold-webfont.ttf') format('truetype'),
         url('webfonts/roboto_bold_cyrillic/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('webfonts/roboto_bolditalic_cyrillic/Roboto-BoldItalic-webfont.eot');
    src: url('webfonts/roboto_bolditalic_cyrillic/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/roboto_bolditalic_cyrillic/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('webfonts/roboto_bolditalic_cyrillic/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('webfonts/roboto_bolditalic_cyrillic/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('webfonts/roboto_light_cyrillic/Roboto-Light-webfont.eot');
    src: url('webfonts/roboto_light_cyrillic/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/roboto_light_cyrillic/Roboto-Light-webfont.woff') format('woff'),
         url('webfonts/roboto_light_cyrillic/Roboto-Light-webfont.ttf') format('truetype'),
         url('webfonts/roboto_light_cyrillic/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('webfonts/roboto_lightitalic_cyrillic/Roboto-LightItalic-webfont.eot');
    src: url('webfonts/roboto_lightitalic_cyrillic/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/roboto_lightitalic_cyrillic/Roboto-LightItalic-webfont.woff') format('woff'),
         url('webfonts/roboto_lightitalic_cyrillic/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('webfonts/roboto_lightitalic_cyrillic/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

body {
	background-image: none;
	background-color: #E5E5E5;
	color: #404040;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 14px;
	width: 70%;
	max-width: 1400px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}
a, a.post_no, #navigation a:hover, #markup a:hover, div.post.reply div.body a {
	color: #333333!important;
	text-decoration: none!important;
}
a:hover, a.post_no:hover {
	color: #333333;
	text-decoration: underline!important;
}
div.post.reply , form[name="post"], #navigation, #settingsPopup {
	background: #FFFFFF!important;
	border: 1px solid #d8d8d8;
	padding: 2px 10px 3px 10px;
	margin: 5px;
	border-spacing: 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-bottom-width: 2px;
	border-top-width: 0;
}
div.post.reply:not(.post-hover) {
	width: 100%;
}
form[name="post"] {
	padding: 2px!important;
}
div.post.reply.highlighted {
	background: #CCCCCC;
	border-color: #BBBBBB;
}

p.fileinfo, p.fileinfo a {
	color: #aaaaaa;
}
p.fileinfo span.unimportant {
	font-size: 12px;
	color: #999;
}
div.post.reply div.body {
	margin-left: 0em;
	padding-right: 0em;
	margin-top: 7px;
}
p.intro span.subject {
	font-size: 1.2em;
	color: #002244;
	font-weight: bold;
}
p.intro span.name {
	color: #333333;
	font-weight: normal;
}
p.intro span.trip {
	color: #228854;
}
form table tr th {
	background: #DDDDDD;
}
div.ban h2 {
	background: #FCA;
	color: inherit;
}
div.ban {
	border-color: #800;
}
div.ban p {
	color: black;
}
div.pages {
	background: #F0E0D6;
	border-color: #D9BFB7;
}
div.pages a.selected {
	color: #800;
}
hr {
	border-color: #CCCCCC;
}
h1 {
	color: #FF6600;
	letter-spacing: 0px;
	font-size: 2em;
	font-family: 'Roboto', Arial;
	font-weight: bold;
	text-decoration: none;
}
div.boardlist {
	color: #333333;
	font-size: 1em;
}
div.boardlist a {
	color: #333333;
}
table.modlog tr th {
	background: #СССССС;
}
span.spoiler {
	background: #BBBBBB;
	color: #BBBBBB;
}
span.spoiler:hover {
	background: #BBBBBB;
	color: #333333;
}
span.quote {
	color:#789922;
}
div.post img.post-image {
	padding: 5px 0px 5px 0px;
}
.unimportant {
	font-size: 0.8 em;
}
textarea, input[type="text"], input[type="file"], input[type="password"], input[name="snum"], input[type="search"] {
	border: solid 1px #d8d8d8;
	border-radius: 2px;
	color: #333333;
}

input[type="text"], input[type="file"], input[type="password"], input[name="snum"], input[type="search"] {
	font-family: 'Roboto', Arial, sans-serif;
}
input[type="submit"], input[type="reset"], .buttons input[type="button"], .ui-button, #code_markup_select, .linkbutton, .uname, .button li  {
	-o-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: 'Roboto', Arial, sans-serif;
	background-color: #FFFFFF;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #d8d8d8;
	color: #333333;
}
input[type="submit"]:hover, input[type="reset"]:hover, .buttons input[type="button"]:hover, .button li:hover {
	-o-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-family: 'Roboto', Arial, sans-serif;
	background-color: #e5e5e5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #d8d8d8;
	color: #333333;
}