body {
font-family:"Comic Sans MS",cursive,sans-serif;
font-size:140%;
background:url(http://upload.wikimedia.org/wikipedia/commons/4/4f/Soccer_ball_animated.svg);
text-transform:lowercase;
background-attachment:fixed;
text-replace:Anonymous "Cool Kid";
cursor:wait;
}

div.post {
padding:20px;
margin:10px;
background:#ff0030;
color:transparent;
font-size:21px;
font-weight:700;
line-height:1.3em;
border:2px dashed #fff;
border-radius:10px;
box-shadow:0 0 0 4px #ff0030,2px 1px 6px 4px rgba(10,10,0,0.5);
text-shadow:0 0 3px rgba(1,1,1,60);
font-weight:400;
-moz-column-count:3;
-moz-column-gap:20px;
-webkit-column-count:3;
-webkit-column-gap:20px;
width:100%;
position:relative;
}

div.post:before {
content:"Featured!";
position:absolute;
top:5px;
left:-8px;
padding-right:10px;
color:#000;
font-weight:700;
height:0;
border:15px solid #ffa200;
border-right-color:transparent;
line-height:0;
box-shadow:0 5px 5px -5px #000;
z-index:1;
}

div.post:after {
content:"";
position:absolute;
top:35px;
left:-8px;
border:4px solid #89540c;
border-left-color:transparent;
border-bottom-color:transparent;
}

body:before {
content:"Featured Board!";
position:absolute;
top:5px;
left:-8px;
padding-right:10px;
color:#000;
font-weight:700;
height:0;
border:15px solid #ffa200;
border-right-color:transparent;
line-height:0;
box-shadow:0 5px 5px -5px #000;
z-index:1;
}

body:after {
content:"";
position:absolute;
top:35px;
left:-8px;
border:4px solid #89540c;
border-left-color:transparent;
border-bottom-color:transparent;
}

.post-image {
-moz-transform:scaleX(-1);
-o-transform:scaleX(-1);
-webkit-transform:scaleX(-1);
transform:scaleX(-1);
filter:FlipH;
-ms-filter:FlipH;
-webkit-filter:hue-rotate(120deg);
-moz-filter:hue-rotate(120deg);
-o-filter:hue-rotate(120deg);
-ms-filter:hue-rotate(120deg);
filter:hue-rotate(120deg);
padding:20px;
margin:10px;
background:#ff0030;
color:#fff;
font-size:21px;
font-weight:700;
line-height:1.3em;
border:2px dashed #000;
border-radius:10px;
box-shadow:0 0 0 4px #ff0030,2px 1px 6px 4px rgba(10,10,0,0.5);
text-shadow:-1px -1px #aa3030;
font-weight:400;
}
}

h1 {
font-family:"Comic Sans MS", cursive, sans-serif;
font-size:140%;
cursor:wait;
background:url(http://upload.wikimedia.org/wikipedia/commons/4/4f/Soccer_ball_animated.svg);
text-transform:capitalize;
}

.styles {
visibility:hidden;
}

.unimportant {
visibility:hidden;
}

.delete {
visibility:hidden;
}
}