/* Bootstrap fixes */
input[type=file] {
    display: inline;
}
label {
    font-weight: inherit;
}
#markup .btn {
    padding: 3px 7px;
}
.media {
    margin-top: 0px;
}
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
.nav-tabs > li {
    min-width: 50px;
    text-align: center;
}
/* Bootstrap fixed end */

body {
	background: #EEF2FF url('img/fade-blue.png') repeat-x 50% 0%;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	margin: 0 8px;
	padding-left: 5px;
	padding-right: 5px;
}
table * {
	margin: 0;
}
a, a:visited {
	text-decoration: underline;
	color: #34345C;
}
a:hover, p.intro a.post_no:hover {
	color: #ff0000;
}
a.post_no {
	text-decoration: none;
	margin: 0;
	padding: 0;
}
p.intro a.post_no {
	color: inherit;
}
p.intro a.post_no, p.intro a.email {
	margin: 0;
}
p.intro a.email span.name {
	color: #34345C;
}
p.intro a.email:hover span.name {
	color: #ff0000;
}
p.intro label {
	display: inline;
}
p.intro time, p.intro a.ip-link, p.intro a.capcode {
	direction: ltr;
	unicode-bidi: embed;
}
h2 {
	color: #AF0A0F;
	font-size: 11pt;
	margin: 0;
	padding: 0;
}
header {
	margin: 1em 0;
}
h1 {
	font-family: tahoma;
	letter-spacing: -2px;
	font-size: 20pt;
	margin: 0;
}
header div.subtitle, h1 {
	color: #AF0A0F;
	text-align: center;
}
header div.subtitle {
	font-size: 8pt;
}
form:not(#searchform) {
    margin-bottom: 4em;
}
form table {
	margin: auto;
}
form table input {
	height: auto;
}
input[type="text"], input[type="password"], textarea {
	border: 1px solid #a9a9a9;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	word-spacing: normal;
}
textarea {
	display: block;
    min-height:80px;
    font-family: monospace;
}
textarea[name="body"] {
    clear: both;
}
form table tr td {
	text-align: left;
	margin: 0;
	padding: 0;
}
form table.mod tr td {
	padding: 2px;
}
form table tr th {
	text-align: left;
	padding: 4px;
}
form table tr th {
	background: #98E;
}
form table tr td div {
	text-align: center;
	float: left;
	padding-left: 3px;
}
form table tr td div input {
	display: block;
	margin: 2px auto 0 auto;
}
form table tr td div label {
	font-size: 10px;
}
.unimportant, .unimportant * {
	font-size: 10px;
}
.fileinfo, .file-info {
	display: block;
	margin: 0;
	margin-bottom: 5px;
}
div.banner {
	background-color: #E04000;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	margin: 1em 0;
}
div.banner, div.banner a {
	color: white;
}
div.banner a:hover {
	color: #EEF2FF;
	text-decoration: none;
}
img.banner {
	display: block;
	border: 1px solid #a9a9a9;
	margin: 12px auto 0 auto;
}
img.nsfw {
    opacity: 0.02;
}
img.nsfw:hover {
    opacity: 1;
}
img.post-image, .mejs-container {
	display: block;
	margin: 5px 20px 5px 0;
	float: left;
	border: none;
}
div.post img.icon {
	display: inline;
	margin: 0 5px;
	padding: 0;
}
div.post i.icon {
	margin: 0 4px;
	font-size: 16px;
}
div.post.op {
	margin-right: 20px;
	margin-bottom: 5px;
}
div.post.op hr {
	border-color: #D9BFB7;
}
p.intro {
	margin: 0.5em 0;
	padding: 0;
	padding-bottom: 0.2em;
}
input.delete {
	float: left;
	margin: 1px 6px 0 0;
}
p.intro span.subject {
	color: #0F0C5D;
	font-weight: bold;
}
p.intro span.name {
	color: #117743;
	font-weight: bold;
}
p.intro span.capcode, p.intro a.capcode, p.intro a.nametag {
	color: #F00000;
	margin-left: 0;
}
p.intro a {
	margin-left: 8px;
}
div.delete {
	float: right;
}
div.post.reply p {
	margin: 0.3em 0 0 0;
}
div.post.reply div.body, div.op.post-hover {
	max-height: 400px;
	overflow-y: auto;
    min-width: 20px;
	display: inline;
}
div.post.reply.highlighted {
	background: #D6BAD0;
}
div.post.reply div.body a {
	color: #D00;
}
div.post {
	max-width: 97%;
}
div.post div.body {
	word-wrap: break-word;
	white-space: pre-wrap;
}
div.post.reply {
	background: #D6DAF0;
	margin: 0.2em 16px;
	padding: 0.2em 0.3em 0.5em 0.6em;
	border-width: 1px;
	border-style: none solid solid none;
	border-color: #B7C5D9;
	display: inline-block;
	clear:both;
	float: left;
}
#settingsPopup .nav>li>a {
    padding: 7px 10px 7px 10px;
}
#settingsPopup .nav>li>a:hover {
    text-decoration: none!important;
}
span.trip {
	color: #228854;
}
span.quote {
	color: #789922;
}
span.omitted {
	display: block;
	margin-top: 1em;
}
br.clear {
	clear: left;
	display: block;
}
span.controls {
	float: right;
	margin: 0;
	padding: 0;
	font-size: 80%;
	width: 100px;
}
span.controls.op {
	float: none;
	margin-left: 10px;
}
span.controls a {
	margin: 0;
}
div#wrap {
	width: 900px;
	margin:0 auto;
}
div.ban {
	background: white;
	border: 1px solid #98E;
	max-width: 700px;
	margin: 30px auto;
}
div.ban p, div.ban h2 {
	padding: 3px 7px;
}
div.ban h2 {
	background: #98E;
	color: black;
	font-size: 12pt;
}
div.ban p {
	font-size: 12px;
	margin-bottom: 12px;
}
div.ban p.reason {
	font-weight: bold;
}
span.heading {
	color: #AF0A0F;
	font-size: 11pt;
	font-weight: bold;
}
span.spoiler {
	background: black;
	color: black;
	padding: 0px 1px;
}
div.post.reply div.body span.spoiler a {
	color: black;
}
span.spoiler:hover, div.post.reply div.body span.spoiler:hover a {
	color: white;
}
span.roleplay {
    background-color: rgba(0,0,0,0.1);
}
span.irony {
    color: #FF00FF;
}
div.styles {
	float: right;
	padding-bottom: 20px;
}
div.styles a {
	margin: 0 10px;
}
div.styles a.selected {
	text-decoration: none;
}
table.test {
	width: 100%;
}
table.test td, table.test th {
	text-align: left;
	padding: 5px;
}
table.test tr.h th {
	background: #98E;
}
table.test td img {
	margin: 0;
}
fieldset label {
	display: block;
}
div.pages {
	color: #89A;
	background: #D6DAF0;
	display: inline;
	padding: 8px;
	border-right: 1px solid #B7C5D9;
	border-bottom: 1px solid #B7C5D9;
}
div.pages a.selected {
	color: black;
	font-weight: bolder;
}
div.pages a {
	text-decoration: none;
}
div.pages form {
	margin: 0;
	padding: 0;
	display: inline;
}
div.pages form input {
	margin: 0 5px;
	display: inline;
}
hr {
	border: none;
	border-top: 1px solid #B7C5D9;
	height: 0;
	clear: left;
}
div.boardlist {
	color: #89A;
	font-size: 9pt;
	margin-top: 3px;
}
div.boardlist.bottom {
	margin-top: 20px;
}
div.boardlist a {
	text-decoration: none;
}
div.report {
	color: #333;
}
table.modlog {
	margin: auto;
	width: 100%;
}
table.modlog tr td {
	text-align: left;
	margin: 0;
	padding: 4px 15px 0 0;
}
table.modlog tr th {
	text-align: left;
	padding: 4px 15px 5px 5px;
	white-space: nowrap;
}
table.modlog tr th {
	background: #98E;
}
td.minimal, th.minimal {
	width: 1%;
	white-space: nowrap;
}
div.top_notice {
	text-align: center;
	margin: 5px auto;
}
span.public_ban {
	display: block;
	color: red;
	font-weight: bold;
	margin-top: 15px;
}
span.toolong {
	display: block;
	margin-top: 15px;
}
div.blotter {
	color: red;
	font-weight: bold;
	text-align: center;
}
table.mod.config-editor {
	font-size: 9pt;
	width: 100%;
}
table.mod.config-editor td {
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid #98e;
}
table.mod.config-editor input[type="text"] {
	width: 98%;
}
p.intro.thread-hidden {
	margin: 0px;
	padding: 0px;
}
#markup a, #navigaton {
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    text-decoration: none;
}
#markup a {
    border: 1px solid gray;
    border-radius: 2px;
    margin-right: 3px;
    display: block;
    float: left;
    width: 22px;
}
td > #markup {
    padding-left: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}
div.post.op {
	counter-reset: post;
}
time:after{
	counter-increment: post;
    content: " #" counter(post);
	color: green;
}
#wrapper div.tabs {
    display:none;
}
#wrapper a.active {
    color: black;
    cursor: default;    
    text-decoration: none;
}
#wrapper div.active {
    display:block;
    width:100%;
}
a[href="mailto:sage"]:after,  a[href="mailto:Sage"]:after, a[href="mailto:SAGE"]:after {
    font-family: FontAwesome;
    content: ' \f088';
    color: red;
    text-decoration: none !important;
}
ul#filestuff {
    padding: 0px;
    margin: 0px;
    width: 250px;
    height: 10px;
    margin-top: 4px;
}
ul#filestuff li {
    position:relative;
    list-style-type:none;
    padding:0px;
    width: auto;
    height: 20px;
}
ul#fileDropdown {
    position:relative;
    left:0px;
    visibility: hidden;
    padding: 0px;
    margin: 0px!important;
    background-color: gray;
}
ul#filestuff li:hover #fileDropdown {
    visibility:visible;
    display: inline-block;
}
.video-container {
    display: inline-block;
    float: left;
}
@media screen and (max-width: 920px) {
    .video-container {
        float: none;
    }
}
@media screen and (max-width: 520px) {
	@viewport {
	   user-zoom: fixed;
	}
	p.intro time, .file-info {
		display: none!important;
	}
	#navigaton  a.title{
		visibility:hidden;
	}
	body {
		margin: 0px!important;
		padding: 5px!important;
	}
	div.post.reply {
		width: 98%;
		max-width: 98%;
		margin: 0px 0px 5px 0px!important;
		padding: 0px 0px 0px 5px!important;
	}
	div.post img.post-image {
		margin: 5px 10px 0 0;
		min-width: 20%!important;
		max-width: 40%!important;
		height: auto!important;
	}
	div.post.reply div.body {
		/*clear: both;*/
		margin: 0px!important;
		padding: 0px!important;
	}
	.video-container img {
		width: 95%!important;
		height: 95%!important;
	}
}

button, input[type="submit"], input[type="file"], input[name="spoiler"], label[for="spoiler"] {
    cursor: pointer;
}
div.post.reply.closed .fileinfo, div.post.reply.closed .file-info, div.post.reply.closed div.body, div.post.reply.closed .post-image, div.post.reply.closed .video-container, div.post.reply.closed object, div.post.reply.closed iframe, div.post.reply.closed #filestuff, div.post.reply.closed .mejs-container {
	display: none;
}
.ip-link:hover span {
    display: none;
}
.ip-link:hover:before {
    content: attr(data-hover);
}
.pace .pace-progress {
    background: #29d;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
.pace-inactive {
    display: none;
}
html.desktop-style .boardlist:nth-child(1) {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    /* text-shadow: white 1px 0px 6px, white 1px 0px 6px, black 1px 0px 3px; */
    margin-top: 0px;
    z-index: 30;
}
.desktop-style .boardlist:nth-child(1):hover, .desktop-style .boardlist:nth-child(1).cb-menu {
    background-color: rgba(90%, 90%, 90%, 0.6);
}
.compact-boardlist {
    padding: 3px;
    padding-bottom: 0px;
}
.compact-boardlist .cb-item {
    display: inline-block;
    vertical-align: middle;
}
.compact-boardlist .cb-icon {
    padding-bottom: 1px;
}
.compact-boardlist .cb-fa {
    font-size: 21px;
    padding: 2px;
    padding-top: 0;
}
.compact-boardlist .cb-cat {
    padding: 5px 6px 8px 6px;
}
.compact-boardlist #watch-pinned {
    display: inline-block;
}
/* styles also used by watch.js */
.cb-menuitem {
    display: table-row;
}
.cb-menuitem span {
    padding: 5px;
    display: table-cell;
    text-align: left;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}
.cb-menuitem span.cb-uri {
    text-align: right;
    padding-left: 0;
}
/* op-post image align fix */
div[id^=thread] > a > img.post-image {
	margin-left : 25px;
}