body {
	background: #ffe url('img/fade-yotsuba.png') repeat-x 50% 0%;
	color: #800000;
}
a:link, a:visited, p.intro a.email span.name {
	color: #0000ff;
}
a:link:hover {
	color: #d00;
}
a.post_no {
	color: #800000;
}
div.post.reply, form[name="post"], #navigation, #settingsPopup  {
	background: #f0e0d6 !important;
	border-color: #d9bfb7;
}

div.post.hover
{
	background: #f0e0d6;
	border-color: #d9bfb7;
	border-width : 1px;
	border-style : solid;
}

div.op.hover
{
	padding : 0.2em 0.3em 0.5em 0.6em;
}

div.post.reply.highlighted {
	background: #f0c0b0;
	border-color: #d9bfb7;
}
div.post.reply div.body a {
	color: navy;
}
p.intro span.subject {
	color: #d00;
}
form table tr th {
	background: #EA8;
}
div.ban h2 {
	background: #FCA;
	color: inherit;
}
div.ban {
	border-color: #800;
}
div.ban p {
	color: black;
}
div.pages {
	background: #F0E0D6;
	border-color: #D9BFB7;
}
div.pages a.selected {
	color: #800;
}
hr {
	border-color: #D9BFB7;
}
div.boardlist {
	color: #B86;
}
div.boardlist a {
	color: #800;
}
table.modlog tr th {
	background: #EA8;
}

button[type=button]
{
	background-color: inherit;
}

ul.dropdown-menu
{
	background-color: rgb(255, 255,238);
}

ul.dropdown-menu  li a:hover
{
	background-color: #f0e0d6!important;
}

#navigation a
{
	color : inherit;
}

#settingsPopup
{
	padding-left : 0.5em;
	border: 1px solid #d9bfb7;
}

/*inside settingsPopup */

ul.nav.nav-tabs li.active > *
{
	background-color: rgb(255, 255,238);
}

div[id^=thread] > a > img.post-image {
	margin-left : 20px;
}